{% extends 'layout-3cols.html.twig' %}

{% block content %}

        <div class="card m-3">
            <div class="card-body">
                <div class="headercard">
                    <div class="d-flex justify-content-center">
                    <h1 class="card-title">{{news['title']}}</h1>
                    </div>
                    <img src="{{ news['media_url'] }}" class="card-img-top article-img-card" alt="content image article">
                    <div class="d-flex flex-wrap ms-2 mt-2">
                        <h6 class="card-subtitle text-muted">Author : {{news['user']['firstname'] ~ ' ' ~ news['user']['lastname'] ~ ' | ' ~ news['user']['position']}}</h6>
                    </div>
                </div>
                <p class="card-text mt-3">{{news['body']}}</p>

                <div class="d-flex ms-2">
                    <p>{{news['create_at']}}</p>
                </div>
            </div>
        </div>

{%endblock %}
