{% extends 'layout-3cols.html.twig' %}

{% block content %}
    <div class="head">
    <img class="newspaper rounded mt-2"  src="https://zupimages.net/up/22/17/wt6l.jpg">
    </div>
    <div class=" d-flex justify-content-center mt-3">

        <form class="btn btn-secondary btn-lg btn-block">
            <a href="/news/add">
                <input type="button" value="Ajouter un news">
            </a>
        </form>
    </div>
    {% for content in news %}
        <div class="card m-3">
            <div class="card-body">
                <div class="headercard d-flex">
                    <img src="{{ content['media_url'] }}" class="card-img-top news-img-card" alt="content image news">
                        <div class="d-flex flex-wrap ms-2 mt-2">
                        <h5 class="card-title align-self">{{content['title']}}</h5>
                    <h6 class="card-subtitle text-muted">Author : {{content['user']['firstname'] ~ ' ' ~ content['user']['lastname'] ~ ' | ' ~ content['user']['position']}}</h6>
                        </div>
                </div>
                    <p class="card-text mt-3">{{content['body']|slice(0, 250)}}</p>

                <div class="d-flex ms-2">
                    <p>{{content['create_at']}}</p>
                    <a href="news/article?id={{ content.id }}" class="card-link ms-3">Read more</a>
                </div>
            </div>
        </div>
    {%endfor %}

{%endblock %}
