{% extends 'layout-3cols.html.twig' %}
    {% block asidebarLeft %}
        {% include 'components/_asideBarLeft.html.twig'%}
    {% endblock %}
        {% block content %}
                   <!-- Need to add upload files  -->
            <div class="d-flex flex-column align-items-center">
                <form method="post" enctype="application/x-www-form-urlencoded">
                    <!-- Title form -->
                    <div class="form-group">
                        <p class="h1 d-flex justify-content-center">Title</p>
                            <p class="alert text-danger">{{ errors.title }}</p>
                        <label for="title" class=" h1 d-flex justify-content-center"> </label>
                        <textarea class="form-control mb-5" id="title" placeholder="Create your eLearning title" name="title" rows="1" style="width: 50rem;">{{ content.title }}</textarea>

                    </div>

                    <!-- Header description -->
                    <div class="form-group">
                        <p class="h1 d-flex justify-content-center">Introduction</p>
                        <p class="alert text-danger">{{ errors.header }}</p>
                        <label for="header" class=" h1 d-flex justify-content-center"> </label>
                        <textarea class="form-control mb-5" id="header" placeholder="Create your eLearning description" name="header" rows="6">{{ content.header }}</textarea>
                    </div>

                    <!-- Title body form -->
                    <div class="form-group">
                        <p class="h1 d-flex justify-content-center">Content title </p>
                        <p class="alert text-danger">{{ errors.titleBody }}</p>
                        <label for="title-body" class=" h1 d-flex justify-content-center"></label>
                        <textarea class="form-control mb-5" id="title-body" placeholder="" name="title-body" rows="1">{{ content.title_body }}</textarea>
                    </div>

                    <!-- Body content -->
                    <div class="form-group">
                        <p class="h1 d-flex justify-content-center">Content</p>
                        <p class="alert text-danger">{{ errors.body }}</p>
                        <label for="body" class=" h1 d-flex justify-content-center"></label>
                        <textarea class="form-control mb-5" id="body" placeholder="Create your body content" name="body" rows="12"> {{ content.body }}</textarea>
                    </div>

                    <!-- List select to add in the good container -->
                    <div class="form-group">
                        <p class="alert text-danger">{{ errors.category }}</p>
                        <input type="submit" name="submit" value="Create" class="btn-primary">
                        <label for="contentId"></label>
                        <select name='contentId' id="contentId">
                            <option value="">Categories for your eLearning</option>
                            {% for learning in learning %}
                            <option value="{{ learning.id }}">{{ learning.title }}</option>
                            {% endfor %}
                        </select>
                    </div>

            </form>
        </div>
     {% endblock %}
