{% extends 'layout-3cols.html.twig' %}
    {% block content %}
        {% for learnings in learning %}
            <div class="accordion" id="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-a-{{ learnings.id }}" aria-expanded="true" aria-controls="collapseOne">
                            <img src="{{ learnings.img_url }}" class="img-fluid float-left me-4" style="height: 5rem; width: 8rem;">
                            <p class="h2">{{ learnings.title }} - {{ learnings.description }} </p>
                        </button>
                    </h2>
                    {% for content in learnings.content %}
                <div id="collapseOne-a-{{content.elearning_id }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
                    {% endfor %}
                    <div class="accordion-body">
                        <ul class="list-group">
                            {% for content in learnings.content %}
                                <div class="col-12">
                                    <li class="list-group-item">
                                        <img src="{{ content.img_url }}" alt="{{ content.title }}" class="float-left" style="max-height: 2rem; max-width: 2rem;">
                                        <p class="h3">{{ content.title }} </p> {{ content.body }}
                                        <div class="d-flex justify-content-end">
                                            <a href="learning/training?id={{ content.id }}" class="btn btn-primary  d-flex justify-content-center pb-4" style="width: 8rem; height: 2rem">Display</a>
                                        </div>
                                    </li>
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
    {% endblock %}
