<div id='{{ post['id'] }}' class="card border-0" style="width: 40rem;">
    <div class="card-header d-flex justify-content-between align-items-center bg-white">
        <div class="d-flex align-items-center">
            <img class="rounded" style="height: 55px; width: 55px; object-fit: cover" src="{{ post['user']['image_url'] }}">
            <div class="d-flex flex-column justify-content-between m-2">
                <h5 class="card-title">{{ post['user']['firstname'] ~ ' ' ~ post['user']['lastname'] }}</h5>
                <p class="m-0">{{ post['user']['position'] }}</p>
            </div>
        </div>

        <div class="d-flex justify-content-center gap-3">
            <span>
                comments <span class="badge bg-secondary">{{ post['comments']|length }}</span>
            </span>

            <span class="cta-like-post position-relative" data-postid="{{ post['id'] }}">
                <span>
                {% if user_logged['id'] in post['usersIdLiked'][0] %}
                    <ion-icon class="icon--link icon-m" name="heart"></ion-icon>
                {% else %}
                    <ion-icon class="icon--link icon-m" name="heart-outline"></ion-icon>
                {% endif %}
                </span>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ post['nLikes'] }}</span>
                </span>

            <div class="dropdown">
                <button class="btn p-0 border-0" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    <ion-icon class="icon-m" name="ellipsis-horizontal-circle-outline"></ion-icon>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li class="d-flex align-items-center">
                        <button class="dropdown-item" type="button"><ion-icon class='icon-s me-2' name="share-social-outline"></ion-icon>Share it on ...</button>
                    </li>
                    {% if post['user_id'] == user_logged['id'] %}
                        <li class="d-flex align-items-center">
                            <button class="dropdown-item" type="button"><ion-icon class='icon-s me-2' name="create-outline"></ion-icon>Edit</button>
                        </li>
                        <li class="d-flex align-items-center"><a href="/post/delete?id={{ post['id'] }}"><button class="dropdown-item" type="button"><ion-icon class='icon-s me-2' name="trash-outline"></ion-icon>delete</button></a></li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </div>

    {% if post['media_url'] is not null %}
        <img src="{{ post['media_url'] }}" class="card-img-top" alt="...">
    {% endif %}

    <span class="time-ago text-muted ms-3">{{ post['last_update_datetime'] }}</span>

    <ul class="list-inline m-0 mt-3 ms-3">
        {% for document in post['documents'] %}
            <li class="list-inline-item"><a href="{{ document['url'] }}" target="_blank"><ion-icon name="document-text-outline"></ion-icon></a></li>
        {% endfor %}
    </ul>

    <div class="card-body">
        <p class="card-text">{{ post['body'] }}</p>
        <a href="{{ post['link'] }}" target="_blank">{{ post['link'] }}</a>
    </div>

    {% if post['comments']|length > 0 %}
        <div class="card-footer d-flex justify-content-between bg-white border-0">
            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#{{ 'comments-' ~ post['id'] }}" aria-expanded="false" aria-controls="{{ 'comments-' ~ post['id'] }}">show/hide comments ({{ post['comments']|length }})</button>
        </div>
    {% endif %}

    {% for comment in post['comments'] %}
        {% include 'components/_comment.html.twig' %}
    {% endfor %}

    {% include 'components/_formAddComment.html.twig' %}

</div>
